@using Lamweb.Models

<style type="text/css">
    #Datmua a {
        clear: both;
        background-color: red;
        color: white;
        width: 120px;
        height: 35px;
        display: block;
        float: right;
        text-align: center;
        padding-top: 10px;
        text-decoration: none;
        font-weight: bold;
    }

        #Datmua a:hover {
            background-color: gray;
            color: red;
        }
</style>
@{ ViewBag.Title = "Chitiet";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<!DOCTYPE html>
<link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="container">
        <div id="banner">
            <div id="logo">
                <img src="~/imagers/logo2.jpg" />
            </div>
            <div id="menutop">
                <a href="./TrangChu/Index.html">Trang Chủ</a>
                <a href="#">Giới thiệu</a>
                <a href="#">Sản phẩm</a>
                <a href="#">Tư vấn</a>
                <a href="#">Khuyến mãi</a>
                <a href="#">Liên hệ</a>
                <a href="#">cái gì đó</a>
            </div>

        </div>
        <div id="content">
            <div id="left">
                <div class="module">
                    <h3>Danh mục sản phẩm</h3>
                    @Html.Action("Chude", "TrangChu")
                </div>
                <div class="module">
                    <h3>Thống kê truy cập</h3>
                    <div class="StaticticImg">
                        <img src="~/imagers/0.png" />
                        <img src="~/imagers/7.png" />
                        <img src="~/imagers/8.png" />
                        <img src="~/imagers/3.png" />
                        <img src="~/imagers/0.png" />
                    </div>
                    <div class="StaticticContent">
                        <div class="leftAlign"><img src="~/imagers/vlweek.png" /> Hôm nay</div>
                        <div class="rightAlign">100</div>
                        <div class="leftAlign"><img src="~/imagers/vlweek.png" /> Hôm qua</div>
                        <div class="rightAlign">100</div>
                        <div class="leftAlign"><img src="~/imagers/vlweek.png" /> Tuần này</div>
                        <div class="rightAlign">6900</div>
                        <div class="leftAlign"><img src="~/imagers/vlweek.png" /> Tuần trước</div>
                        <div class="rightAlign">5000</div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="module">
                    <h3>Quảng cáo</h3>
                    <div class="ads">
                        <img src="~/imagers/dienmayxanh.gif" /> <img src="~/imagers/Conmeo.gif" />
                    </div>
                </div>
            </div>
            <div id="right">
                <div id="slideshow">
                    <img src="~/imagers/hinhnensandal.jpg" />
                </div>
                <div id="products">
                    <div class="item">
                        <h2>Thông Tin Chi Tiết sản phẩm</h2>
                        <div>
                            <div style="width:40%; float:left; padding:10px; border-color:azure">
                                <img src="~/imagers/@Model.Anhbia" width="100%" />
                            </div>
                            <div style="width:60%; float:left; padding:10px">
                                <h4 style="font-weight:bold ; color:red">Tên Sản Phẩm:@Model.Tengiay</h4>
                                <p style="text-align:justify"> <span style="font-weight:bold"> Mô tả</span> @Model.Mota</p>
                                <p style="font-weight:bold">
                                    Giá bán:<span style="color:red; font-size:16pt"> @Model.Giaban VNĐ</span>
                                </p>
                            </div>
                            <div>
                                <div id="Datmua">
                                    <a href="@Url.Action("Themgiohang", "GioHang", new { @iMagiay= @Model.Magiay, @str=Request.Url.ToString()})">
                                        Đặt mua
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="footer">
            <p>Bản quyền thuộc về : <b>Công ty MinhLong</b></p>
            <p>Được phát triểu bởi Minh Long Tester <b>Ahihi đồ ngok</b></p>
        </div>

    </div>
</body>
</html>


